{% extends 'layouts/backend.html' %}
{% block content %}
{% load static %}
<div class="content-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="col"><h3 class="text-black">Create DMS Form</h3></div>
                <div class="col">
                    <h3 class="text-end">
                        <a class="text-blue" href="{% url 'DmsIndex' %}">
                            <i class="bi bi-house-door-fill"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">{% load crispy_forms_tags %}
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ form.name|as_crispy_field }}</div>
                        <div class="col">{{ form.subject|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form.start_date|as_crispy_field }}</div>
                        <div class="col">{{ form.end_date|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form.dms_status|as_crispy_field }}</div>
                        <div class="col">{{ form.document|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                       {{ form.description|as_crispy_field }}

                    </div>

                    <br>
                    <button type="submit" class="btn btn-sm btn-outline-primary">Save information</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}