{% extends 'layouts/backend.html' %}
{% block content %}
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="col"><h3 class="text-black">Welcome to Documents Management System</h3></div>
                        <div class="col">
                            <h3 class="text-end"><a class="text-black" href="#">Add DMS Form</a></h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-black-50">Here! Welcome to DMS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}