{% extends 'layouts/backend.html' %}
{% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="col"><h3>Selling Share</h3></div>
                    <div class="col"><h3 class="text-end"><a class="text-blue" href="#">Add Product Share</a></h3></div>
                </div>
            <div class="card-body">
                <h2>Hello World</h2>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}