{% extends 'layouts/backend.html' %}
{% load static %}
{% block content %}
    {% load django_bootstrap5 %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="col"><h3>Customers Listing</h3></div>
                        <div class="col"><h3 class="text-end"><a href="{% url 'AddCustomers' %}">Add Product</a></h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr class="text-blue">
                                    <th>No</th>
                                    <th>Customer</th>
                                    <th>Contact</th>
                                    <th>Email Address</th>
                                    <th>Image</th>
                                    <th>Origin</th>
                                    <th>Status</th>
                                    <th>Shares Qty</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for customer in page.object_list %}
                                    <tr>
                                        <td>{{ customer.id }}</td>
                                        <td>{{ customer.customer_name }}</td>
                                        <td>{{ customer.customer_contact }}</td>
                                        <td>{{ customer.customer_email }}</td>
                                        <td>
                                            {% if customer.customer_image %}
                                                <img class="thumbnail clearfix" src="{{ customer.customer_image.url }}"
                                                     width="50px" height="50px" alt="">
                                            {% else %}
                                                <img src="{% static 'image.png' %}" alt="">
                                            {% endif %}

                                        </td>
                                        <td>{{ customer.Customer_origin }}</td>
                                        <td>{{ customer.customer_status }}</td>
                                        <td>#</td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-primary">View</a>
                                            <a href="{% url 'UpdateCustomer' customer.id %}"
                                               class="btn btn-sm btn-success">Update</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--Pagination-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                                    </li>
                                {% endif %}
                                {% for i in page.paginator.page_range %}
                                    {% if page.number == i %}
                                        <li class="page-item active" aria-current="page">
                      <span class="page-link">
                        {{ i }}
                        <span class="sr-only">(Current)</span>
                      </span>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <!--end of Pagination-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}