{% extends 'layouts/products.html' %}
{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="row"><br>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><h4>Register Form</h4></strong></div>
                    <div class="panel-body">{% load crispy_forms_tags %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">{{ form.customer_name|as_crispy_field }}</div>
                                <div class="col-md-4">{{ form.customer_contact|as_crispy_field }}</div>
                                <div class="col-md-4">{{ form.customer_email|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">{{ form.Customer_origin|as_crispy_field }}</div>
                                <div class="col-md-4">{{ form.customer_status|as_crispy_field }}</div>
                                <div class="col-md-4">{{ form.customer_image|as_crispy_field }}</div>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-sm btn-info">
                        </form>
                    </div>
                    <div class="panel-footer">If you are already have Account! <a href="{% url 'login_request' %}">Login Application</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}