{% extends 'layouts/products.html' %}
{% load static %}
{% block content %}
    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper"
             style="background-image:url({% static 'frontend/images/banner/blog-banner.jpg' %});">
            <div class="overlay-main bg-black opacity-07"></div>
            <div class="container">
                <div class="wt-bnr-inr-entry">
                    <h1 class="text-white">Blog or News</h1>
                </div>
            </div>
        </div>
        <!-- INNER PAGE BANNER END -->

        <!-- BREADCRUMB ROW -->
        <div class="bg-gray-light p-tb20">
            <div class="container">
                <ul class="wt-breadcrumb breadcrumb-style-2">
                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
                    <li>Blog or News</li>
                </ul>
            </div>
        </div>
        <!-- BREADCRUMB ROW END -->

        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50">
            <div class="container">
                <div class="row">

                    <!-- SIDE BAR START -->
                    <div class="col-md-3">

                        <aside class="side-bar">

                            <!-- 13. SEARCH -->
                            <div class="widget bg-white ">
                                <h4 class="widget-title">Search</h4>
                                <div class="search-bx">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="news-letter" type="text" class="form-control"
                                                   placeholder="Write your text">
                                            <span class="input-group-btn">
                                                        <button type="submit" class="site-button"><i
                                                                class="fa fa-search"></i></button>
                                                    </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- 2. RECENT POSTS -->
                            <div class="widget bg-white  recent-posts-entry">
                                <h4 class="widget-title">Posts</h4>
                                <div class="section-content">
                                    <div class="wt-tabs tabs-default border">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#web-design-1">Recent</a></li>
                                            <li><a data-toggle="tab" href="#graphic-design-1">Popular</a></li>
                                        </ul>
                                        <div class="tab-content">

                                            <div id="web-design-1" class="tab-pane active ">
                                                <div class="widget-post-bx">
                                                    {% for data in page.object_list %}
                                                        <div class="widget-post clearfix bg-gray">
                                                            <div class="wt-post-media">
                                                                {% if data.image %}
                                                                    <img src="{{ data.image.url }}" alt="">
                                                                {% else %}
                                                                <img src="{% static 'images/blog/recent-blog/pic1.jpg' %}" alt=""
                                                                     class="radius-bx">
                                                                {% endif %}

                                                            </div>
                                                            <div class="wt-post-info">
                                                                <div class="wt-post-header">
                                                                    <h6 class="post-title">{{ data.content_title }}</h6>
                                                                </div>
                                                                <div class="wt-post-meta">
                                                                    <ul>
                                                                        <li class="post-author">{{ data.date }}</li>
                                                                        <li class="post-comment"><i
                                                                                class="fa fa-comments"></i> 20comment
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}


                                                </div>
                                            </div>

                                            <div id="graphic-design-1" class="tab-pane">
                                                <div class="widget-post-bx">{% for object in page.object_list %}
                                                    <div class="widget-post clearfix bg-gray">

                                                        <div class="wt-post-media">
                                                        {% if object.image %}
                                                            <img src="{{ object.image.url }}" alt="">
                                                        {% else %}
                                                        <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt=""
                                                                 class="radius-bx">
                                                        {% endif %}

                                                        </div>
                                                        <div class="wt-post-info">
                                                            <div class="wt-post-header">
                                                                <h6 class="post-title">{{ object.content_title }}</h6>
                                                            </div>
                                                            <div class="wt-post-meta">
                                                                <ul>
                                                                    <li class="post-author">{{ object.date }}</li>
                                                                    <li class="post-comment"><i
                                                                            class="fa fa-comments"></i> 10 comment
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    {% endfor %}

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 4. OUR GALLERY  -->
                            <div class="widget widget_gallery mfp-gallery">
                                <h4 class="widget-title">Our Gallery</h4>
                                <ul>
                                    <li>
                                        <div class="wt-post-thum">
                                            <a href="images/gallery/pic1.jpg" class="mfp-link"><img
                                                    src="images/gallery/thumb/pic1.jpg" alt=""></a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <!-- 7. OUR CLIENT -->
                            <div class="widget">
                                <h4 class="widget-title">Our Client</h4>
                                <div class="owl-carousel widget-client p-t10">

                                    <!-- COLUMNS 1 -->
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo wt-img-effect on-color">
                                                <a href="#"><img src="images/client-logo/logo1.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 2 -->
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo wt-img-effect on-color">
                                                <a href="#"><img src="images/client-logo/logo2.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo wt-img-effect on-color">
                                                <a href="#"><img src="images/client-logo/logo3.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- 6. NEWSLETTER -->
                            <div class="widget widget_newsletter-2 bg-white  ">
                                <h4 class="widget-title">Newsletter</h4>
                                <div class="newsletter-bx p-a30">
                                    <div class="newsletter-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>

                                    <div class="newsletter-content">
                                        <i>Enter your e-mail and subscribe to our newsletter. Sit amet of Lorem Ipsum.
                                            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                                            quis</i>
                                    </div>
                                    <div class="m-t20">
                                        <form role="search" method="post">
                                            <div class="input-group">
                                                <input name="news-letter" class="form-control"
                                                       placeholder="ENTER YOUR EMAIL" type="text">
                                                <span class="input-group-btn">
                                                        <button type="submit" class="site-button"><i
                                                                class="fa fa-paper-plane-o"></i></button>
                                                    </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- 12. TAGS -->
                            <div class="widget bg-white  widget_tag_cloud">
                                <h4 class="widget-title">Tags</h4>
                                <div class="tagcloud">
                                    <a href="javascript:void(0);">Trouble </a>
                                    <a href="javascript:void(0);">Programmers</a>
                                    <a href="javascript:void(0);">Never</a>
                                    <a href="javascript:void(0);">Tell</a>
                                    <a href="javascript:void(0);">Doing</a>
                                    <a href="javascript:void(0);">Person</a>
                                    <a href="javascript:void(0);">Inventors Tag</a>
                                    <a href="javascript:void(0);">Between </a>
                                    <a href="javascript:void(0);">Abilities</a>
                                    <a href="javascript:void(0);">Fault </a>
                                    <a href="javascript:void(0);">Gets </a>
                                    <a href="javascript:void(0);">Macho</a>
                                </div>
                            </div>

                        </aside>

                    </div>
                    <!-- SIDE BAR END -->

                    <!-- LEFT PART START -->
                    <div class="col-md-9">

                        <!-- COLUMNS 1 -->
                        <div class="blog-post blog-md date-style-1 clearfix">
                            {% for data in page.object_list %}
                                <div class="wt-post-media wt-img-effect zoom-slow thumbnail">
                                    {% if data.image %}
                                        <img src="{{ data.image.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'img/image.jpeg' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="wt-post-info thumbnail">

                                    <div class="wt-post-title ">
                                        <h3 class="post-title"><a href="javascript:void(0);">
                                            {{ data.content_title|truncatechars:50 }}</a></h3>
                                    </div>
                                    <div class="wt-post-meta ">
                                        <ul>
                                            <li class="post-date"><i class="fa fa-calendar"></i>{{ data.date }}</li>
                                            <li class="post-author"><i class="fa fa-user"></i><a
                                                    href="javascript:void(0);">By
                                                <span>{{ data.author }}</span></a></li>
                                            <li class="post-comment"><i class="fa fa-comments"></i> <a
                                                    href="javascript:void(0);">0</a></li>
                                        </ul>
                                    </div>
                                    <div class="wt-post-text">
                                        <p class="text-justify">{{ data.content|truncatechars:500  }}</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="wt-post-readmore pull-left">
                                            <a href="javascript:void(0);" title="READ MORE" rel="bookmark"
                                               class="site-button-link">Read More</a>
                                        </div>
                                        <div class="widget_social_inks pull-right">
                                            <ul class="social-icons social-radius social-dark m-b0">
                                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>

                        <div class="card-body">
                            <!--Pagination-->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if page.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1"
                                               aria-disabled="True">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% for i in page.paginator.page_range %}
                                        {% if page.number == i %}
                                            <li class="page-item active" aria-current="page">
                      <span class="page-link">
                        {{ i }}
                        <span class="sr-only">(Current)</span>
                      </span>
                                            </li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            <!--end of Pagination-->
                        </div>


                    </div>
                    <!-- LEFT PART END -->

                </div>
            </div>
        </div>
        <!-- SECTION CONTENT END -->

    </div>
    <!-- CONTENT END -->
{% endblock %}