{% extends 'layouts/backend.html' %}
{% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><h2>Objective of Company or Profile</h2></div>
            <div class="card-body">
                <h4>{{ data.company }}</h4>
                <p class="text-justify">{{ data.company_info }}</p>

                <h4>{{ data.mission }}</h4>
                <p class="text-justify">{{ data.mission_description }}</p>

                <h4>{{ data.vision }}</h4>
                <p class="text-justify">{{ data.vision_description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}